services:
  protogen:
    build:
      context: .
      dockerfile: gen.proto.Dockerfile
    volumes:
      - .:/workspace
    command: >
      -I=.
      --go_out=. 
      --go-grpc_out=. 
      app/internal/proto/user.proto